In [1]:
import pandas as pd

In [3]:
df_data = pd.read_fwf("/data/train.txt" , index_col = False, names = ['annot', 'tweet'])
df_data

               annot                                              tweet
0     (0000,neu,apl)              20 min line @apple store @short pump.
1     (0001,irr,msf)  Nueva tecnología convierte cualquier superfici...
2     (0002,neu,ggl)  Some people should not post replies in #Google...
3     (0003,neg,apl)  I know a few others having same issue RT @Joel...
4     (0004,neg,msf)  #Microsoft - We put the ""backwards"" into bac...
...              ...                                                ...
4168  (4168,neg,apl)  fuck this see you hoes @ work @WeakTwip @Munnn...
4169  (4169,neg,msf)  #Microsoft, #Adobe lose $13.5bn to piracy: Rep...
4170  (4170,neu,twt)  I tried to explain why you would do ""The #Twi...
4171  (4171,neg,apl)  Installed io5 - fine on ipad but wiped wife's ...
4172  (4172,neg,msf)  #microsoft #careers site is giving errors for ...

[4173 rows x 2 columns]

In [ ]:
df_data